.loggedOut {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 0;
    background-color: #F9F9F9;
}

.loggedOut div {
    width: 400px;
}

.loggedOut div h1 {
    margin-bottom: 15px;
}

.loggedOut div p {
    margin-bottom: 15px;
}

.loggedOutContent a button {
    width: 100%;
    margin: 0;
}

.loggedOutContent div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.loggedOutContent div span {
    width: calc(50% - 20px);
    height: 1px;
    margin: 20px 0;
    background-color: #DDDDDD;
}

.loggedOutContent div p {
    width: fit-content;
    margin-bottom: 0;
}

@media screen and (max-width: 430px) {   
    .loggedOut {
        padding: 60px 15px;
    }
    
    .loggedOut div {
        width: 100%;
    }
}